@mixin media($value) {
    @if ($value < 0) {
        @media screen and (min-width: calc($value * (-1)) + 'px') {
            @content;
        }

    } @else {
        @media screen and (max-width: $value + 'px') {
            @content;
        }
    }
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent !important;
}

a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
}


img {
    max-width: 100%;
}

span, label {
    display: inline-block;
}

html {
    scroll-behavior: smooth;
}

input, textarea {
    outline: none;
    border: 0;
    background: transparent;
}

button {
    border: 0;
    cursor: pointer;
    background: transparent;
    outline: 0;
}

address {
    font-style: normal;
}

.wrapper {
    width: 100%;
    overflow: hidden;
    min-height: 100svh;
}

ul, ol, dl {
    list-style: none;
    padding: 0;
    margin: 0;
}

p, h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Century Gothic', sans-serif;
    font-weight: 400;
}

.main-container {
    max-width: 1170px;
    margin: 0 auto;

    @include media(1210) {
        max-width: calc(100vw - 40px);
    }
}

.btn {
    &_blue {
        height: 84px;
        border-radius: 7px;
        background: linear-gradient(45.00deg, rgb(1, 82, 255) 1.697%,rgb(7, 66, 190) 88.371%,rgb(1, 82, 255) 93.789%);
        display: inline-flex;
        align-items: center;
        justify-content: center;
        padding: 0 66.5px;
        cursor: pointer;
        user-select: none;
        transition: 0.3s ease all;
        font-size: 18px;
        font-weight: bold;
        color: #fff;
        border: 1px solid transparent;

        @include media(992) {
            font-size: 14px;
            height: 64px;
            padding: 0 37px;
        }

        &:hover {
            border: 1px solid rgb(0, 8, 24);
            border-radius: 7px;
            background: linear-gradient(45.00deg, rgb(1, 82, 255) 1.697%,rgb(7, 66, 190) 88.371%,rgb(1, 82, 255) 93.789%);
        }

        &:active {
            border: 2px solid rgb(0, 8, 24);
            border-radius: 7px;
            background: linear-gradient(45.00deg, rgb(1, 82, 255) 1.697%,rgb(7, 66, 190) 88.371%,rgb(1, 82, 255) 93.789%);
        }
    }
}

// Header
.header {
    padding: 14px 0 10px;

    @include media(992) {
        padding: 4px 0;
    }

    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__logo {
        img {
            @include media(992) {
                height: 48px;
            }
        }
    }

    &__nav {
        display: flex;
        align-items: center;
        gap: 29px;

        @include media(992) {
            gap: 8px;
        }
        
        &_link {
            font-size: 18px;
            transition: .3s ease all;

            @include media(992) {
                font-size: 8px;
            }

            &:hover {
                color: #0152FF;
            }

            &:active {
                font-weight: bold;
            }
        }

        button {
            width: 51px;
            height: 51px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 10px;
            background: rgba(1, 81, 255, 0.1);
            font-size: 18px;
            font-weight: bold;
            color: #0152FF;
            transition: .3s ease all;
            border: 1px solid transparent;
            flex-shrink: 0;

            @include media(992) {
                width: 26px;
                height: 26px;
                border-radius: 5px;
                font-size: 10px;
            }

            &:hover {
                background: rgba(1, 81, 255, 0.15);
            }

            &:active {
                border: 1px solid rgba(1, 81, 255, 0.3)
            }
        }
    }
}
// Header end

// Home
.home {
    width: calc(100% - 40px);
    margin-left: 20px;
    background: linear-gradient(to bottom, #7E9EC6, #3D4D60);
    border-radius: 35px;
    color: #fff;
    margin-bottom: 159px;

    @include media(1250) {
        width: calc(100% - 20px);
        margin-left: 10px;
        border-radius: 20px;
    }

    @include media(992) {
        margin-bottom: 72px;
    }
    
    &__container {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        gap: 45px;
        padding: 46px 0 230px;
        position: relative;

        @include media(1100) {
            flex-direction: column;
            padding: 38px 0 12px;
        }

        @include media(992) {
            gap: 38px;
        }
    }

    &__left {
        padding-top: 85px;

        @include media(1100) {
            padding-top: 0;
        }
    }

    &__title {
        font-size: 73px;
        font-weight: bold;
        margin-bottom: 18px;
        text-shadow: 0 4px 8.8px rgba(0, 0, 0, 0.25);

        @include media(992) {
            font-size: 42px;
        }
    }

    &__description {
        font-size: 20px;
        color: #F2F2F2;
        margin-bottom: 32px;

        @include media(992) {
            font-size: 14px;
            margin-bottom: 9px;
        }
    }

    &__right {
        position: relative;
        flex-shrink: 0;

        @include media(1100) {
            width: 100%;
        }

        img {
            &:nth-child(1) {
                width: 663px;

                @include media(1250) {
                    width: 550px;
                }

                @include media(1100) {
                    width: 100%;
                    border-radius: 33px;
                }
            }

            &:nth-child(2) {
                position: absolute;
                bottom: -10px;
                right: -33px;

                @include media(992) {
                    width: 112px;
                    right: -10px;
                    bottom: 0;
                }
            }
        }
    }

    &__card {
        position: absolute;
        bottom: -55px;
        left: 0;
        width: 100%;
        color: #000;
        display: flex;
        align-items: stretch;
        gap: 30px;

        @include media(1100) {
            position: static;
            flex-wrap: wrap;
        }

        &_item {
            position: relative;
            z-index: 1;
            width: calc(100% / 3 - 20px);

            @include media(1100) {
                width: calc(50% - 15px);
            }

            @include media(700) {
                width: 100%;
                min-height: 136px;
            }

            &__bg {
                position: absolute;
                left: -14px;
                top: -8px;
                min-width: calc(100% + 28px);
                height: calc(100% + 24px);
                display: block;
                z-index: -1;
                object-fit: fill;
            }

            .card_head {
                display: flex;
                margin-bottom: 18px;
                gap: 42px;
                padding-left: 15px;

                @include media(992) {
                    margin-bottom: 12px;
                    padding-left: 11px;
                }

                h3 {
                    font-size: 37px;
                    font-weight: bold;
                    color: #20C4F4;

                    @include media(992) {
                        font-size: 32px;
                        transform: translateY(-8px);
                    }
                }

                h4 {
                    padding-top: 11px;
                    font-size: 18px;
                    font-weight: bold;

                    @include media(992) {
                        font-size: 14px;
                    }
                }
            }

            p {
                font-size: 14px;
                padding: 0 20px 10px 25px;

                @include media(992) {
                    font-size: 12px;
                }
            }
        }
    }
}
// Home end

// Business
.business {
    margin-bottom: 104px;

    @include media(992) {
        margin-bottom: 72px;
    }

    &__top {
        display: flex;
        align-items: flex-start;
        gap: 30px;
        margin-bottom: 30px;

        @include media(992) {
            flex-direction: column;
            gap: 41px;
            margin-bottom: 18px;
        }

        ul {
            display: flex;
            flex-direction: column;
            gap: 30px;
            width: calc(50% - 15px);

            @include media(992) {
                gap: 18px;
                width: 100%;
            }
        }
    }

    &__content {
        width: calc(50% - 15px);
        padding-top: 16px;

        @include media(992) {
            width: 100%;
            padding-top: 0;
        }
    }

    &__title {
        font-size: 40px;
        font-weight: bold;
        margin-bottom: 23px;

        @include media(992) {
            font-size: 24px;
            margin-bottom: 13px;
        }
    }

    &__description {
        margin-bottom: 40px;
        font-size: 20px;

        @include media(992) {
            font-size: 14px;
            margin-bottom: 24px;
        }
    }

    &__card {
        display: flex;
        flex-direction: column;
        gap: 16px;
        border-radius: 13px;
        border: 1px solid #EFF4FF;
        padding: 26px 18px 22px 25px;
        background: #F5FAFB;

        @include media(992) {
            padding: 16px 12px 12px;
        }

        &_head {
            display: flex;
            align-items: center;
            gap: 30px;

            @include media(992) {
                gap: 16px;
            }

            img {
                flex-shrink: 0;

                @include media(992) {
                    width: 48px;
                }
            }

            h3 {
                font-size: 18px;
                font-weight: bold;

                @include media(992) {
                    font-size: 14px;
                }
            }
        }

        p {
            font-size: 14px;

            @include media(992) {
                font-size: 12px;
            }
        }
    }

    &__bottom {
        display: flex;
        align-items: center;
        gap: 30px;

        @include media(992) {
            flex-direction: column-reverse;
            gap: 18px;
        }

        li {
            width: calc(50% - 15px);

            @include media(992) {
                width: 100%;
            }
        }
    }
}
// Business end

// Footer
.footer {
    background: #343434;
    padding: 13px 0px 20px;

    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 23px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        margin-bottom: 13px;

        @include media(992) {
            flex-direction: column;
            align-items: flex-start;
            gap: 15px;
            position: relative;
            padding-bottom: 21px;
        }
    }

    &__logo {
        img {
            @include media(992) {
                height: 60px;
            }
        }
    }

    &__nav {
        display: flex;
        align-items: flex-start;
        gap: 112px;

        @include media(1150) {
            gap: 50px;
            width: 100%;
        }

        @include media(576) {
            flex-wrap: wrap;
            gap: 18px;
        }

        &_item {
            display: flex;
            flex-direction: column;
            gap: 13px;

            @include media(992) {
                width: calc(100% / 3);
            }

            @include media(576) {
                width: calc(50% - 9px);
            }

            a {
                color: #fff;
                display: flex;
                align-items: center;
                gap: 7px;
                font-size: 14px;
                width: 100%;
            }

            p {
                font-size: 14px;
                font-weight: bold;
                color: #fff;

                @include media(992) {
                    font-size: 12px;
                }
            }

            &:nth-child(3) {
                @include media(992) {
                    width: 100%;
                    
                    br {
                        display: none;
                    }
                }
            }

            &:last-child {
                @include media(992) {
                    position: absolute;
                    right: 0;
                    top: 12.5px;
                    width: auto;
                    gap: 5px;
                }
            }
        }
    }

    &__bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;

        p {
            color: #B1B1B1;
            font-size: 14px;

            @include media(992) {
                font-size: 12px;
            }
        }
    }
}
// Footer end

// About
.about {
    margin-bottom: 104px;

    @include media(992) {
        margin-bottom: 72px;
    }

    &__title {
        font-size: 40px;
        font-weight: bold;
        margin-bottom: 10px;

        @include media(992) {
            font-size: 24px;
            padding-top: 12px;
        }
    }

    &__subtitle {
        font-size: 20px;
        display: flex;
        align-items: flex-start;
        gap: 9px;
        margin-bottom: 34px;

        @include media(992) {
            font-size: 14px;
            margin-bottom: 16px;
            gap: 3.83px;

            img {
                width: 8.33px;
            }
        }
    }

    .options {
        display: flex;
        flex-direction: column;
        gap: 30px;

        @include media(992) {
            gap: 12px;
        }
    }

    .option {
        background: #EEF0F3;
        border-radius: 13px;

        &_head {
            display: flex;
            align-items: center;
            gap: 10px;
            border-radius: 13px;
            background: #D2DAE5;
            padding: 17px 14px 20px;

            @include media(992) {
                padding: 12px;

                img {
                    width: 20px;
                }
            }

            h3 {
                font-size: 20px;
                font-weight: bold;

                @include media(992) {
                    font-size: 14px;
                }
            }
        }

        &_body {
            padding: 0 19px 0 14px;

            @include media(992) {
                padding: 0px 12px;
            }
            
            &__item {
                display: flex;
                align-items: flex-start;
                justify-content: space-between;
                gap: 35px;
                padding: 22px 0;

                @include media(992) {
                    flex-direction: column;
                    gap: 5px;
                    padding: 10px 0;
                }
                
                &:not(:last-child) {
                    border-bottom: 1px solid #D6D8DB;
                }

                p {
                    width: 100%;
                    font-size: 20px;

                    @include media(992) {
                        font-size: 12px;
                    }
                }

                h4 {
                    width: 348px;
                    flex-shrink: 0;
                    font-size: 20px;
                    font-weight: bold;

                    @include media(992) {
                        width: 100%;
                        font-size: 14px;
                    }
                }
            }
        }
    }
}
// About end